<nav class="teal darken-3" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">SysEng</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#" class="waves-effect waves-light btn">Blog</a></li>
      <li><a href="#" class="waves-effect waves-light btn">Entrar</a></li>
      <li><a href="#" class="waves-effect waves-light btn">Cadastrar-se</a></li>
    </ul>
 
    <ul id="nav-mobile" class="side-nav">      
      <li><a href="#" class="waves-effect waves-light btn">Blog</a></li>
      <li><a href="#" class="waves-effect waves-light btn">Entrar</a></li>
      <li><a href="#" class="waves-effect waves-light btn">Cadastrar-se</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h2 class="header center teal-text darken-4">Sys eng</h2>
    <div class="row center">
      <h5 class="header col s12 light">Gestao moderna para uma empresa moderna</h5>
    </div>
    <div class="row center">
      <a href="#" id="download-button" class="btn-large waves-effect waves-light teal darken-3">Cadastre-se</a>
    </div>
    <br><br>
 
  </div>
</div>
 
 
<div class="container">
  <div class="section">
    <h5 class="header center teal-text darken-4">Modulos</h5>
  
    <div class="row">
    
      <div class="col s12 m3">
        <div class="card teal darken-1">
          <div class="card-content white-text">
            <span class="card-title">Seguranca</span>
            <p></p>
          </div>
        </div>
      </div>
      
      <div class="col s12 m3">
        <div class="card teal darken-1">
          <div class="card-content white-text">
            <span class="card-title">Contratos</span>
            <p></p>
          </div>
        </div>
      </div>
          
      <div class="col s12 m3">
        <div class="card teal darken-1">
          <div class="card-content white-text">
            <span class="card-title">Financeiro</span>
            <p></p>
          </div>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="card teal darken-1">
          <div class="card-content white-text">
            <span class="card-title">Relatorios</span>
            <p></p>
          </div>
        </div>
      </div>
              
    </div>
    
    <div class="row">
      
      <div class="col s12 m3">
        <div class="card teal darken-1">
          <div class="card-content white-text">
            <span class="card-title">Cadastros</span>
            <p></p>
          </div>
        </div>
      </div>
        
      <div class="col s12 m3">
        <div class="card teal darken-1">
          <div class="card-content white-text">
            <span class="card-title">Despesas</span>
            <p></p>
          </div>
        </div>
      </div>
            
      <div class="col s12 m3">
        <div class="card teal darken-1">
          <div class="card-content white-text">
            <span class="card-title">Fluxo de caixa</span>
            <p></p>
          </div>
        </div>
      </div>
  
      <div class="col s12 m3">
        <div class="card teal darken-1">
          <div class="card-content white-text">
            <span class="card-title">Coolaboradores</span>
            <p></p>
          </div>
        </div>
      </div>
                
    </div>

    <div class="row">
          
      <div class="col s12 m3">
        <div class="card teal darken-1">
          <div class="card-content white-text">
            <span class="card-title">Projetos</span>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
 
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text darken-4"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Rapido feedback</h5>
 
          <p class="light">Tenha informacoes rapidas, precisas e uteis em poucos cliques.<br/>
            Buscamos uma plataforma onde todos possam se beneficiar e que nao seja somente mais um sistema para dar mais trabalho.
          </p>
        </div>
      </div>
 
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text darken-4"><i class="material-icons">group</i></h2>
          <h5 class="center">Foco na experiencia do usuario</h5>
 
          <p class="light">Um dos maiores intuitos nessa aplicacao e que pessoas com funcoes diferentes possam se benecifiar de formas diferentes e que ele possa agregar valor a todos.</p>
        </div>
      </div>
 
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text darken-4"><i class="material-icons">settings</i></h2>
          <h5 class="center">Moleza de usar</h5>
 
          <p class="light">Queremos fornecer funcionalidades uteis e que se adequem a realidade dos nossos usuarios buscando uma forma simples e intuitiva.</p>
        </div>
      </div>
    </div>
 
  </div>
  <br><br>
</div>
 
<footer class="page-footer teal darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Eng sys bio</h5>
        <p class="grey-text text-lighten-4">
          A essencia dessa iniciativa e facilitar a vida dos seus usuarios.
        </p>
 
      </div>
      <div class="col l3 s12">
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <span class="blue-text text-lighten-3">Lucio Ferreira da Silva</span>
    </div>
  </div>
</footer>